/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #fdecef;
    margin: 0;
}

h1 {
    text-align: left;
    margin: 20px 40px;
    color: #e91e63;
}

.product-title {
    margin: 40px;
    color: #e91e63;
}

/* Links */
a {
    text-decoration: none;
    color: #e91e63;
}

/* Navbar */
nav {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    background-color: white;
    padding: 15px 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

nav a {
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 6px;
}

nav a:hover {
    background-color: #e91e63;
    color: white;
}

/* Sections */
.section{
    background-color: white;
    max-width: 1100px;
    margin: 30px 40px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.contact {
    background-color: white;
    max-width: 1100px;
    margin: 30px 40px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* Products */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    margin: 40px;
}

.card {
    background-color: white;
    width: 200px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 14px;
    background-color: #e91e63;
    color: white;
    border-radius: 6px;
}


@media screen and (max-width: 600px) {

    nav {
        width: 100%;              
        flex-wrap: wrap;          
        justify-content: flex-start;
        padding: 10px 20px;
        gap: 15px;
    }

    nav a {
        width: 45%;              
        text-align: center;
        background-color: #fdecef;
        border-radius: 6px;
        padding: 10px 0;
    }

    .section{
        margin: 20px;
    }
    .contact {
        margin: 20px;
    }

    .container {
        margin: 20px;
    }

    .card {
        width: 100%;
    }
}


